{% extends "layout.html"%}
{% block contents %}


<!-- this displays the make page -->
<div class="make">
    <div class=maketitle> 
        <h1>Makes</h1>
    </div>
    <div class="rowone">
        <h2><a class="link" href="/stand" scr=>
            <img class="sus" src="/static/img/Honda-Logo.png">
        </a></h2>   
    </div>
    <div class="rowone">
        <h2><a class="link" href="/stand" scr=>
            <img class="sus" src="/static/img/Honda-Logo.png">
        </a></h2>   
    </div>
    <div class="rowone">
        <h2><a class="link" href="/stand" scr=>
            <img class="sus" src="/static/img/Honda-Logo.png">
        </a></h2>   
    </div>
</div>


{% endblock %}